*.log
*.tmp
.*_hook
.Xauthority
.abook
.authinfo*
.bash*
.cache
.cask
.dbus
.fontconfig
.gimp*
.go*
.lesshst
.local/share/emacs
.local/share/icons
.local/share/xorg
.local/share/Trash
.local/share/mime/*
.mu
.password-store
.pfl.info
.pki
.pulse-cookie
.serverauth*
.ssh
.steam/
.steampath
.steampid
.texlive*
.thumbnails/
.wine
.config/guix/current
~/.gnupg
