#!/bin/sh
## This file is sourced by some DM and should not contain any desktop execution.

## X resources for xterm.
## Some DM merge this automatically; we merge it for TTY logins.
[ -f "$HOME/.Xresources" ] && xrdb -merge "$HOME/.Xresources"

## Load custom keymap and configure input devices.
## Some login managers don't like output hence the redirection.
setxkbmap -layout us -variant ""
xkbcomp -I"$HOME/.xkb" "$HOME/.xkb/usim.xkb" $DISPLAY 2>/dev/null
xcape -e 'Control_L=Escape'
xbindkeys

## Speed up keyboard autoreeat rate
xset r rate 250 30

## Turn off the bell.
xset -b

## Lock screen on sleep.
xss-lock slock &

## Hook. Should be sourced last.
[ -f ~/.xprofile_hook ] && . ~/.xprofile_hook
